@using Shop.Web.Models
@model IEnumerable<Book>

@{
    ViewBag.Title = "Książki";
}

@if (Model.Count() == 0)
{
    @Html.Action("EmptyList");
}
else
{
    <div class="table-responsive table-striped">
        <table class="table-striped" style="width:100%; text-indent:1%">
            <thead>
                <tr class="text-center" style="height:36px; background-color:#222222; color:white">
                    <th>Tytuł</th>
                    <th>Autor</th>
                    <th>Data wydania</th>
                    <th>Kategoria</th>
                    <th>Wydawnictwo</th>
                    <th colspan="2">Cena</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var b in Model)
                {
                    <tr class="text-center">
                        <th>@b.Title</th>
                        <th>@b.Author</th>
                        <th>@b.ReleaseDate.ToShortDateString()</th>
                        <th>@b.Category</th>
                        <th>@b.Publisher</th>
                        <th>@b.Price zł <span class="label label-danger">@(b.SuperPrice == true ? "OKAZJA!" : "")</span> </th>
                        <th>
                            @Html.RouteLink("Do koszyka", new
                            {
                               controller = "Book",
                               action = "Popup",
                               category = @b.BookID
                            }, new
                            {
                                @id = "showModal",
                                @type = "button",
                                @class = "btn btn-sm btn-primary",
                                @style = "width:90%",
                                @data_toggle = "modal",
                                @data_target = "#addToCartModal",
                                @data_backdrop = "static"
                            })
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}




