@using Shop.Web.Models;
@model  Cart

@{ 
    Layout = "~/Views/Shared/_LayoutCart.cshtml";
}
@if (Model.SumCartItems() != 0)
{
<div class="table-responsive">
    <table style="width:100%; text-indent:1%">
            <tr class="text-center" style="height:36px; background-color:#222222; color:white">
                <th>Tytuł</th>
                <th>Autor</th>
                <th>Cena</th>
                <th>Nośnik</th>
                <th>Ilość</th>
                <th colspan="2">Wartość całkowita</th>
            </tr>
        @foreach (var b in Model.lineCollection)
        {

            <tr class="text-center">
                <th>@b.Book.Title</th>
                <th>@b.Book.Author</th>
                <th>@b.Book.Price zł</th>
                <th>@b.DataStorageDevice</th>
                <th>@b.Quantity</th>
                <th>@b.SumCartLineValue() zł</th>
                <th>@Html.RouteLink("Usuń", new { controller = "Cart", action = "DeleteItem", category = b.Book.BookID }, new { @class = "btn btn-danger", @style="width:90%; text-indent:0px"})</th>
        </tr>
        }
        <tr class="text-center" style="height:36px">
            <th></th>
            <th></th>
            <th></th>
            <th style="border-top-color:black; border-top-style:solid; background-color:#222222; color:white">Podsuma: </th>
            <th style="border-top-style:solid">@Model.SumCartItems()</th="label-success">
            <th style="border-top-style:solid">@Model.SumCartValue()</th>
        </tr>
    </table>
       


</div>
}
else
{
    <h3>Niestety Twój koszyk jest pusty :(</h3>
    <h4>Wróć tutaj, jak już coś dodasz :)</h4>
}
@Html.RouteLink("Kontynuuj zakupy", new { controller = "Book", action = "List" }, new { @class = "btn btn-primary" })